{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block head%}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="h2 text-center">Login</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Usuário</label>
                        {{ form.username }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Senha</label>
                        {{ form.password }}
                    </div>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}