body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Public Sans', sans-serif; 
}

body, html {
  font-size: 14px;
  color: #3442a8;
}
a {
  color: #1572E8;
  text-decoration: none !important; 
}
a:hover, a:focus {
    color: #1269DB; 
}

h1,.h1 {
  font-size: 2.15rem; 
}

h2,.h2 {
  font-size: 1.85rem; 
}

h3,.h3 {
  font-size: 1.64rem; 
}

h4,.h4 {
  font-size: 1.48rem; 
}

h5,.h5 {
  font-size: 1.3rem;
  font-weight: 400; 
}

h6,.h6 {
  font-size: 1.07rem;
  font-weight: 400; 
}

p {
  font-size: 1.07rem;
  line-height: 1.82;
  margin-bottom: 1rem;
  word-break: break-word; 
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.5; 
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    color: inherit; 
}

small, .small {
  font-size: 13px; 
}

b, .b, strong, .strong {
  font-weight: 600; 
}

main {
  background-color: #d9cccc;
  height: 100vh;
}

.sidebar {
  background-color: #444444;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar-title {
  color:#B07A28;
}

.nav-item{
  background-color: #444444;
  color:#B07A28;
}

.nav-item:hover{
  padding-top: 3px;
  padding-bottom: 3px;
  transition: background-color 0.3s ease-in-out;
}

.nav-item > a{
  color:#B07A28;
}

.nav-item:hover > a{
  color: rgb(200, 163, 28);
}

.nav-link:focus{
  color: #B07A28;
}

.nav-link:hover{
  color: #B07A28;
  background-color: #444444;
}

.nav-link form button {
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
}